<template name="Footer">
    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text"></h5>

                    <p class="grey-text text-lighten-4">Exciting Career in Rescue, Continuing Education or Advancement in
                        your Organization.</p>


                </div>

                <div class="col l6 s12">
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © <a class="orange-text text-lighten-3" href="">Prompt Care Learning Center, Inc.</a>, All rights reserved.
            </div>
        </div>
    </footer>
    
</template>
