<template name="SideBar">
    <ul id="nav-mobile" class="side-nav fixed" style="background-color: #2196F3 !important;left: 0px;">
        <li class="logo"><a id="logo-container" href="{{pathFor 'home'}}" class="brand-logo">
            <img src="/img/logo.png" id="front-page-logo">
        </a></li>
        {{#if currentUser}}
            {{#if isAdmin}}
                <li class="bold"><a href="{{pathFor 'AddCourse'}}">Add New Course</a></li>
                <li class="bold"><a href="{{pathFor 'AddModule'}}">Add New Module</a></li>
            {{/if}}
            <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Courses</a>

                    <div class="collapsible-body" style="display: none;">
                        <ul>
                            {{> CourseList}}
                        </ul>
                    </div>
                </li>
            </ul>

        {{else}}
            <li class="bold"><a href="{{ pathFor 'atSignIn' }}">Sign in</a></li>
        {{/if}}
    </ul>


</template>
