<template name="SideBar">
    <ul id="nav-mobile" class="side-nav fixed" style="left: 0px;">
        <li class="logo"><a id="logo-container" href="{{pathFor 'home'}}" class="brand-logo">
            <img src="/img/logo.png" id="front-page-logo">
        </a></li>
        <li class="bold"><a href="{{pathFor 'Course'}}">Add New Course</a></li>
        <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Courses</a>

                <div class="collapsible-body" style="display: none;">
                    <ul>
                        <li>{{> CourseList}}</li>
                    </ul>
                </div>
            </li>
        </ul>
    </ul>


</template>
