<template name="SideBar">
    <ul id="nav-mobile" class="side-nav fixed {{isActiveRoute 'Enroll'}}"
        style="background-color: #2196F3 !important;left: 0px;">
        <li class="logo"><a id="logo-container" href="{{pathFor 'home'}}" class="brand-logo">
            <img src="/img/logo.png" id="front-page-logo">
        </a></li>
        {{#if currentUser}}
            {{#if isAdmin}}
                <!--<ul data-collapsible="accordion" class="collapsible collapsible-accordion">
                    <li class="bold"><a class="collapsible-header  waves-effect waves-teal">
                        <i class="mdi-navigation-chevron-right left collapsableicon"></i>Branch</a>

                        <div class="collapsible-body" style="display: none;">
                            <ul>
                                <li class="bold {{isActiveRoute 'branch'}}"><a href="{{pathFor 'branch'}}">Branch
                                    List</a></li>
                                <li class="bold {{isActiveRoute 'branch.add'}}"><a href="{{pathFor 'branch.add'}}">Add
                                    New Branch</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>-->
                <!--<ul data-collapsible="accordion" class="collapsible collapsible-accordion">
                    <li class="bold"><a class="collapsible-header  waves-effect waves-teal">
                        <i class="mdi-navigation-chevron-right left collapsableicon"></i>Rooms</a>

                        <div class="collapsible-body" style="display: none;">
                            <ul>
                                <li class="bold {{isActiveRoute 'room'}}"><a href="{{pathFor 'room'}}">Room
                                    List</a></li>
                                <li class="bold {{isActiveRoute 'room.add'}}"><a href="{{pathFor 'room.add'}}">Add
                                    New Room</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>-->
                <ul data-collapsible="accordion" class="collapsible collapsible-accordion">
                    <li class="bold"><a class="collapsible-header  waves-effect waves-teal"><i
                            class="mdi-navigation-chevron-right left collapsableicon"></i>Enrollees</a>

                        <div class="collapsible-body" style="display: none;">
                            <ul>
                                <li class="bold"><a href="{{pathFor 'EnrolleeList'}}">Enrollee List</a></li>
                                <li class="bold"><a href="{{pathFor 'StudentSchedule'}}">Send Schedule</a></li>
                                <li class="bold"><a href="{{pathFor 'StudentBilling'}}">Send Billing</a></li>

                            </ul>
                        </div>
                    </li>
                </ul>
                <ul data-collapsible="accordion" class="collapsible collapsible-accordion">
                    <li class="bold"><a class="collapsible-header  waves-effect waves-teal"><i
                            class="mdi-navigation-chevron-right left collapsableicon"></i>Subscribers</a>

                        <div class="collapsible-body" style="display: none;">
                            <ul>
                                <li class="bold {{isActiveRoute 'MemberList'}}"><a href="{{pathFor 'MemberList'}}">Member
                                    List</a></li>
                                <li class="bold {{isActiveRoute 'Enroll'}}"><a href="{{pathFor 'Enroll'}}">Send
                                    Schedule</a></li>

                            </ul>
                        </div>
                    </li>
                </ul>



            {{/if}}
            <!--Courses-->
            <ul data-collapsible="accordion" class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header  waves-effect waves-teal">
                    <i class="mdi-navigation-chevron-right left collapsableicon"></i>Courses</a>

                    <div class="collapsible-body" style="display: none;">
                        <ul>
                            {{> CourseList}}
                            <li class="bold {{isActiveRoute 'Course'}}"><a href="{{pathFor 'Course'}}">Course List</a></li>
                            {{#if isAdmin}}
                                <li class="bold {{isActiveRoute 'AddCourse'}}"><a href="{{pathFor 'AddCourse'}}">Add New
                                    Course</a></li>
                                <li class="bold {{isActiveRoute 'AddCourse'}}"><a href="{{pathFor 'AddModule'}}">Add New
                                    Module</a></li>
                            {{/if}}
                            <li class="bold {{isActiveRoute 'AddCourse'}}"><a href="{{pathFor 'AddCourse'}}">Available Courses</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <!--Student-->
            <ul data-collapsible="accordion" class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header  waves-effect waves-teal">
                    <i class="mdi-navigation-chevron-right left collapsableicon"></i>Students</a>

                    <div class="collapsible-body" style="display: none;">
                        <ul>

                            {{#unless isAdmin}}
                             <li class="bold"><a href="{{pathFor 'Enroll'}}">Student Registration</a></li>{{/unless}}
                            <li class="bold"><a href="{{pathFor 'StudentSchedule'}}">Student Schedule</a></li>
                            <li class="bold"><a href="{{pathFor 'StudentBilling'}}">Student Billing</a></li>
                        </ul>
                    </div>
                </li>
            </ul>

            <!--Member-->
            <ul data-collapsible="accordion" class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header  waves-effect waves-teal">
                    <i class="mdi-navigation-chevron-right left collapsableicon"></i>Members</a>

                    <div class="collapsible-body" style="display: none;">
                        <ul>
                            {{#unless isAdmin}}
                                <li class="bold"><a href="{{pathFor 'Enroll'}}">Member Registration</a></li>{{/unless}}
                            <li class="bold"><a href="{{pathFor 'Enroll'}}">Member Billing</a></li>
                            <li class="bold"><a href="{{pathFor 'Enroll'}}">Member Information</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <!--<li><a href="/invoice">invoice</a></li>-->


        {{else}}
            <li><a href="{{ pathFor 'atSignIn' }}">Sign in</a></li>
            <li><a href="{{ pathFor 'atSignUp' }}">Register</a></li>
        {{/if}}
    </ul>
</template>
