<template name="StudentGrades">

    <div class="row">
        <div class="input-field col s8">
            </div>
        <div class="input-field col s4">
            <input id="searchGrades" type="text" class="validate">
            <label for="searchGrades">Search</label>
        </div>
    </div>
    <table class="striped">
        <thead>
        <tr>
            <th data-field="id">ID no.</th>
            <th data-field="description">Name</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1111</td>
            <td>Cortez, Jeric C</td>
        </tr>
        </tbody>
    </table>
</template>
