<template name="Home">
    <h3 class="header center blue-text" style="font-weight: 600 !important;">Prompt C.A.R.E Learning Center,
        Inc.</h3>

    <div class="row center">
        <h5 class="col s12 light">Emergency Medical Services & Rescue Training Academy
            <small class="red-text">"Educating People the Science to Save Lives..."</small>
        </h5>
    </div>

    <div class="row">
        <h2 class="header center orange-text">Philippine Accreditations</h2>

        <div class="col s12 l6 center-align">
            <img class="promo" style="height: 130px;width: 130px;" src="img/tesda.png">
            <h5 class="center">TESDA</h5>
        </div>

        <div class="col s12 l6 center-align">
            <img class="promo" style="height: 130px;width: 130px;" src="img/piemsr.png">
            <h5 class="center">PIEMSR</h5>
        </div>
    </div>

    <div class="row">
        <h2 class="header center orange-text">International Accreditations</h2>

        <div class="col s12 l3 center-align">
            <img class="promo" style="height: 130px;width: 130px;" src="img/itls.png">
            <h5 class="center">Internation Trauma Life Support</h5>
        </div>

        <div class="col s12 l3 center-align">
            <img class="promo" style="height: 130px;width: 130px;" src="img/Picture2.png">
            <h5 class="center">Prompt Ambulance Philippines</h5>
        </div>

        <div class="col s12 l3 center-align">
            <img class="promo" style="height: 130px;width: 170px;" src="img/iboehs.png">
            <h5 class="center">Internation Board of Environmental Health & Safety</h5>
        </div>

        <div class="col s12 l3 center-align">
            <img class="promo" style="height: 130px;width: 130px;" src="img/ecsi.png">
            <h5 class="center">Emergency Care & Safety Institute</h5>
        </div>

    </div>

</template>
