/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

#logo-container {
    height: 97px;
    margin-bottom: 12px;
}

ul.side-nav.fixed li.logo {
    margin-top: 12px;
}

ul.side-nav.fixed li:hover, ul.side-nav.fixed li.active {
    background-color: rgba(41, 182, 246, 0.5) !important;
}

.side-nav {
    background-color: #29B6F6 !important;
}

.waves-effect.waves-blue {
    background-color: rgba(0, 150, 136, 0.7);
}

.login {
    width: 260px;
    height: 70px;
    line-height: 70px;
    font-size: 18px;
    font-weight: 400;
}

.btn, .btn-large {
    background-color: rgb(43, 148, 208);
}

.btn, .btn-large:hover {
    background-color: rgb(41, 182, 246);
}

.promo {
    transition: all 0.3s ease-in-out 0s;
}

.at-title > .header {
    color: #ff9800 !important;
}

.mdi-alert-warning {
    color: red;
}

.at-error.red.lighten-2 {
    background-color: #29b6f6 !important;
}

li.logo {
    border-bottom: 1px solid #000 !important;
}

.col.s12.m8.offset-m2.l4.offset-l4.z-depth-1 {
    border-radius: 40px !important;
    padding: 10px;
}

.panel-title {
    color: rgb(33, 150, 243) !important
}

header {
    border-bottom: solid 2px #29b6f6;
}

header > div.right {
    padding: 10px;
}
header > div.left{
    padding: 17px;
}
@media screen and (min-width: 993px) {
.side-nav.fixed{
    left:0 !important;
}
}